.header {

    width: 100%;
    position: relative;
    border-bottom: 2px solid #FFF;

    .title {

        color: white;
        transition: color 0.3s ease;
        text-decoration: none;
        display: inline-flex;

        .logo {

            height: 70px;

            svg {
                height: 100%;

                path {
                    fill: white;
                    stroke: black;

                    transition: 0.3s ease;
                    transition-property: fill, stroke;
                }

                line {

                    stroke: black;
                    transition: stroke 0.3s ease;

                }
            }

        }

        .name {

            font-family: 'Montserrat', sans-serif;
            font-size: 2.5em;
            font-weight: bold;
            padding-left: 1em;
            padding-top: 0.4em;
        }
    }

    .title:hover {

        color: black;

        path{
            fill: black !important;
            stroke: white !important;
        }

        line {
            stroke: white !important;
        }
    }

    .menu{
        position: absolute;
        top: 15px;
        right: 30px;

        .menu-item {

            color: white;
            font-size: 1.3em;
            display: inline-block;
            cursor: pointer;
            transition: background-color ease 0.2s, color ease 0.2s;
            padding-bottom: 0.2em;
            font-family: 'Exo', sans-serif;
            font-weight: 800;
            padding: 0.5em 1em;
            border: 2px solid transparent;

            &:hover {

                background-color: #538CCC;
            }

            &.active {

                border-color: white;
            }
        }
    }
}

@media (max-width:920px) {

    .header {

        .menu{
            position: static;
            text-align: center;
            margin-top: 0;
        }

        .menu-item{
            font-size: 1em;
            text-align: center;
            margin-bottom: 0.2em;
        }

        .title{
            display: block;
            text-align: center;
        }
    }
}
