<html ng-app="websiteApp">

<head>

  <!-- bower:css -->
  <!-- endbower -->

  <!-- inject:css -->
  <link rel="stylesheet" href="/src/css/home.css">
  <!-- endinject -->

  <title>Adam Ferguson</title>

  <link rel="icon"
      type="image/png"
      href="images/favicon.png" />
</head>

<body>

<div>

    <div id="page-<%= page %>" ng-include="'pages/<%= page %>.html'">
    </div>

</div>

</body>

  <!-- bower:js -->
  <script src="components/angular/angular.js"></script>
  <!-- endbower -->

  <!-- inject:js -->
  <script src="/src/js/app.js"></script>
  <!-- endinject -->
</html>
