<div id='about'>

    <div class='subtitle'>
        ABOUT ME
    </div>

    <div class='top container'>
        <div class='title-block'>SKILLS</div>

        <div class='section col-xs-12 col-md-4'>
            <div class='name'>Website Developer/Designer</div>
            <p>
                Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel.
            </p>
            <div class='icons'>
                <img src='/img/html5.png' title='HTML 5'/>
                <img src='/img/css3.png' title='CSS 3'/>
                <img src='/img/js.png'  title='Javascript'/>
            </div>
        </div>

        <div class='section col-xs-12 col-md-4'>
            <div class='name'>Web & Mobile Application Developer</div>
            <p>
                Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel.
            </p>
            <div class='icons'>
                <img src='/img/nodejs.png'  title='NodeJS'/>
                <img src='/img/cordova.png'  title='Apache Cordova'/>
                <img src='/img/angular.png'  title='AngularJS'/>
            </div>
        </div>

        <div class='section col-xs-12 col-md-4'>
            <div class='name'>Software Developer</div>
            <p>
                Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel. Spiel.
            </p>

            <div class='icons'>
                <img src='/img/visualstudio.png'  title='Visual Studio'/>
                <img src='/img/csharp.png'  title='C#'/>
                <img src='/img/dotnet.png'  title='Microsoft .NET'/>
            </div>
        </div>

    </div>

    <%- include _timeline.ejs %>

    <div class='bot container'>

        <div class='title-block'>Personal Life</div>
        <div class='col-sm-offset-2 col-md-offset-3 col-lg-offset-4 col-sm-8 col-md-6 col-lg-4'>

            <p>
                Couple of paragraphs here about me.
            </p>

        </div>

    </div>

</div>
