<div id='about'>

    <div class='subtitle'>
        ABOUT ME
    </div>

    <div class='text-section container'>

        <div class='title-block'>Who Am I?</div>
        <div class='col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6'>

            <p>
                I'm a web & software developer, born and raised in Edmonton, Alberta, Canada, and I've lived here my whole life. I started at the University of Alberta
                majoring in Mathematics, but after two years I switched to Computing Science, as I found it much more interesting (and practical!).
            </p>
            <p>
                Since making the switch, I have done a variety of programming jobs, including .NET
                application development, database migration, Wordpress website and plugin development, and game design. I feel I have now
                carved out a niche for myself as a web application developer.
            </p>
            <p>
                My philosophy is to always try to keep myself as up-to-date as possible on the
                evolution of programming technologies available, and I always try to incorporate
                something new into each of my projects. That may involve trying out a new plugin,
                some new automation tools, trying out a new text editor, or trying out a completely
                new environment altogether.
            </p>
        </div>

    </div>

    <%- include _timeline.ejs %>

    <div class='text-section container'>

        <div class='title-block'>Personal Life</div>
        <div class='col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6'>

            <p>
                Outside of the professional world, I am still a very big coding junkie. My favorite things to work during my spare time are games. I enjoy
                it because not only does it allow me to hone my skills, but it also allows my creative side to shine a little bit. I have more ideas than
                I know what to do with, and I have a ton of notes on dozens computer or board games I would like to one day turn into something playable.
                I update my latest developments and thoughts on my games <a>here</a>.
            </p>

            <p>
                Leaving the realm of computers, I also enjoy cooking quite a bit. I love to learn new dishes, and if it goes horribly wrong, I'll try input it
                again and again until I get it right!
            </p>

        </div>

    </div>

</div>
