<div id='contact'>

    <div class='container'>

        <div class='col-md-offset-3 col-md-6 col-xs-12'>

            <div class='contact-info'>

                <p>
                    If you have questions about my website, my projects, or perhaps even would like to work together, I am always welcome and will respond in a timely fashion. Feel free to email me at <b>adanferguson@gmail.com</b>, or use the contact form below.
                </p>
                <p class='txt'>
                    I am available for freelance work.
                </p>
            </div>

            <div class='contact-form'>

                <div class='txt'>Send me a message, and I will reply as soon as I can!</div>

                <form role="form">
                  <div class="form-group">
                    <input name='name' type="text" class="form-control"placeholder="Name" required>
                  </div>
                  <div class="form-group">
                    <input name='email' type="email" class="form-control" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                    <textarea name='message' rows="5" class="form-control" placeholder="Message" required></textarea>
                  </div>
                  <span class="form-message"></span><br/>
                  <button onclick="App.submitContactForm();" type="button" class="btn btn-default">Submit</button>
                </form>

            </div>

            <p class='social-links'>
                <a href='http://www.facebook.com/adan.ferguson'><i class='fa fa-facebook fa-fw'></i></a>
                <a href='http://www.twitter.com/adansays'><i class='fa fa-twitter fa-fw'></i></a>
                <a href='https://www.linkedin.com/in/adanferguson'><i class='fa fa-linkedin fa-fw'></i></a>
                <a href='http://www.github.com/khananaphone'><i class='fa fa-github fa-fw'></i></a>
            </p>
    </div>
    </div>

</div>
