<div id='contact'>

    <div class='container'>

        <div class='col-sm-6 contact-info'>

            <p>
                If you have questions about my website, my projects, or perhaps even would like to work together, I am always welcome and will respond in a timely fashion. Feel free to email me at <b>adanferguson@gmail.com</b>, or use the contact form on the right.
            </p>
            <p class='txt'>
                I am available for freelance work.
            </p>
            <p>
                <i class='fa fa-facebook fa-fw'></i> <i class='fa fa-twitter fa-fw'></i> <i class='fa fa-linkedin fa-fw'></i>
            </p>
        </div>

        <div class='col-sm-6 contact-form'>

            <div class='txt'>Send me a message, and I will reply as soon as I can!</div>

            <form>
              <div class="form-group">
                <input name='name' type="text" class="form-control" id="contactName" placeholder="Name">
              </div>
              <div class="form-group">
                <input name='email' type="email" class="form-control" id="contactEmail" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea name='message' rows="5" class="form-control" id="contactMessage" placeholder="Message"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>

    </div>

</div>
