<div class='footer primary-color'>

    <h1>THANKS FOR VISITING</h1>

    <div class='contact' onclick='location.href="/contact"'>
        Interested in working together?<br/>
        <span>CONTACT ME</span>
    </div>

    <div class='left side' onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');">
        <i class="fa fa-angle-double-up fa-fw"></i><br/>To Top
    </div>

    <div class='right side' onclick='location.href="http://games.adanferguson.com"'>
        <img src='/img/bat.png'></br>Games!
    </div>

</div>
