<div class='home'>

    <a href='http://games.adanferguson.com' class='games'>
        Looking for the games page? Click here.
    </a>

    <div class='splash'>

        <div class='container'>

            <div class='left col-sm-6'>
                <h1>Hi,</h2>

                <p>
                    My name is <span class='strong'>Adam Ferguson</span>, and I am a <span class='strong'>Software & Web Developer</span> based in Edmonton, Alberta, Canada.
            </div>
            <div class='right col-sm-6'>

                <img class='self' src='/img/final1.jpg'/><br/>
                Me
            </div>

        </div>
    </div>

    <div class='container'>

        <div class='greeting col-sm-offset-2 col-md-offset-3 col-lg-offset-4 col-sm-8 col-md-6 col-lg-4'>

            <p class='social-links'>
                <a href='http://www.facebook.com/adan.ferguson'><i class='fa fa-facebook fa-fw'></i></a>
                <a href='http://www.twitter.com/adansays'><i class='fa fa-twitter fa-fw'></i></a>
                <a href='https://www.linkedin.com/in/adanferguson'><i class='fa fa-linkedin fa-fw'></i></a>
                <a href='http://www.github.com/khananaphone'><i class='fa fa-github fa-fw'></i></a>
            </p>

            <p>
                I graduated from the University of Alberta in 2010 with a BSc in Computing Science, and since then I have done a combination of full-time and freelance work, mostly within the realm of web development.
                <a href='/about'>More about me</a>.
            </p>
            <p>
                More information on my skills, services I offer, and my projects is available <a href='/mywork'>here</a>.
            </p>
            <p>
                My name is officially Adam, but you can call me "Adan" if you want. It's a combination of an inside joke and a way for me to get nice account names and email addresses.
            </p>
        </div>

    </div>

</div>
