<div class='home'>

    <a href='http://games.adanferguson.com' class='games'>
        Looking for the games page? Click here.
    </a>

    <div class='splash'>

        <div class='container'>

            <div class='left col-sm-6'>
                <h1>Hi,</h2>

                <p>
                    I am <span class='strong'>Adam Ferguson</span>, and I am a <span class='strong'>Software & Web Developer</span> based in Edmonton, Alberta, Canada.
            </div>
            <div class='right col-sm-6'>

                <img class='self' src='/img/self.jpg'/><br/>
                Me
            </div>

        </div>
    </div>

    <div class='container'>

        <div class='greeting col-sm-offset-2 col-md-offset-3 col-lg-offset-4 col-sm-8 col-md-6 col-lg-4'>
            <p class='quote'>
                "Insert a quote here. Blah blah blah blah blahblah blahblah blahblah blah."
            </p>
            <p>
                Insert greeting here. Insert greeting here. Insert greeting here.      Insert greeting here.      Insert greeting here.      Insert greeting here.      Insert greeting here.      Insert greeting here.      Insert greeting here.      Insert greeting here.
                Insert greeting here. <a href='/about'>More about my skills and history</a>.
            </p>
            <p>
                For more information on projects I am working on or have worked on, <a href='/projects'>click here</a>.
        </div>

    </div>

</div>
