<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href='/font-awesome-4.5.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="/css/style.css">

  </head>
<body>

<% include header %>

<div class='tabs'>

    <%- body %>

</div>

<% include footer %>


<script src='/js/jquery.min.js'></script>
<script src='/js/bootstrap.min.js'></script>
</body>
</html>
