<div id='mywork'>

    <div class='subtitle'>
        MY WORK
    </div>

    <div class='container'>

        <div class='work-section even clearfix'>

            <div class='col-lg-4 col-md-7 col-sm-6 image' style='background-image: url("/img/cardboard.png")'></div>

            <div class='col-lg-8 col-md-5 col-sm-6'>
                <div class='title'>IGRC Website</div>
                <div class='text'>sadasdasdasdasdasdd asd asdasd asd adas d</div>
            </div>

        </div>

        <div class='work-section odd clearfix' onclick='location.href="http://www.github.com/KHANanaphone"'>

            <div class='col-lg-8 col-md-5 col-sm-6'>
                <div class='title'>My Github</div>
                <div class='text'>sadasdasdasdasdasdd asd asdasd asd adas d</div>
            </div>

            <div class='col-lg-4 col-md-7 col-sm-6 image' style='background-image: url("/img/github_logo.jpg")'></div>

        </div>

    </div>

</div>
