<div id='mywork'>

    <div class='subtitle'>
        MY WORK
    </div>

    <div class='top container'>
        <div class='title-block'>SKILLS & SERVICES</div>

        <div class='section col-xs-12 col-md-4'>
            <div class='name'>Website Developer/Designer</div>
            <p>
                Want a personal website like this one? Or maybe something a bit fancier for your small business? Whether you have a design in mind, a template you've found, or you just want me to "wing it", I guarantee you will recieve a professional product that looks good on every browser (mobile included).
            </p>
            <div class='icons'>
                <img src='/img/html5.png' title='HTML 5'/>
                <img src='/img/css3.png' title='CSS 3'/>
                <img src='/img/js.png'  title='Javascript'/>
            </div>
        </div>

        <div class='section col-xs-12 col-md-4'>
            <div class='name'>Web & Mobile Application Developer</div>
            <p>
                Need user accounts? Database storage? Animations? Interactivity? Mobile app versions? If you need a launching point for your more complicated ideas, or need help starting off your small business, you've come to the right place.
            </p>
            <div class='icons'>
                <img src='/img/nodejs.png'  title='NodeJS'/>
                <img src='/img/cordova.png'  title='Apache Cordova'/>
                <img src='/img/angular.png'  title='AngularJS'/>
            </div>
        </div>

        <div class='section col-xs-12 col-md-4'>
            <div class='name'>Software Developer</div>
            <p>
                I'm not just a web developer. Up until recently, most of my programming career has been centered on native applications using tried-and-true languages like C and Java. My strongest area of expertise would be in the .NET environment making a variety of Windows applications.
            </p>

            <div class='icons'>
                <img src='/img/visualstudio.png'  title='Visual Studio'/>
                <img src='/img/csharp.png'  title='C#'/>
                <img src='/img/dotnet.png'  title='Microsoft .NET'/>
            </div>
        </div>

    </div>

    <div class='container'>

        <div class='title-block projects-block'>MY PROJECTS</div>

        <a class='work-section odd clearfix' href="http://igrc.adanferguson.com">

            <div class='col-md-3 col-sm-4 image' style='background-image: url("/img/igrc.png")'></div>

            <div class='col-md-9 col-sm-8'>
                <div class='title'>IGRC website</div>
                <div class='text'>Did design, web development, and hosting for IGRC, which is a technical solutions and consulting firm. Additionally, working with the firm as a contract worker their web application development projects.</div>
            </div>

        </a>

        <a class='work-section odd clearfix' href="http://www.pilotcomic.com">

            <div class='col-md-3 col-sm-4 image' style='background-image: url("/img/pilotcomic.png")'></div>

            <div class='col-md-9 col-sm-8'>
                <div class='title'>Pilot Comic website</div>
                <div class='text'>Webcomic website with custom admin page and database for uploading and editing comics. (The actual comic hasn't been started up yet, but I have nothing to do with that.)</div>
            </div>

        </a>

        <a class='work-section odd clearfix' href="http://www.slumberknees.com">

            <div class='col-md-3 col-sm-4 image' style='background-image: url("/img/painttrain2.jpg")'></div>

            <div class='col-md-9 col-sm-8'>
                <div class='title'>SlumberKnees website</div>
                <div class='text'>This website is made using Weebly, so while I can't take much credit for the actual development of the site, I was still in charge of styling, account setup, domain registry, and other things like that. There also is some custom html/css.</div>
            </div>

        </a>

        <a class='work-section odd clearfix' href="http://games.adanferguson.com">

            <div class='col-md-3 col-sm-4 image' style='background-image: url("/img/bat.png")'></div>

            <div class='col-md-9 col-sm-8'>
                <div class='title'>My Games</div>
                <div class='text'>Check out games that I have made or have been working on. A variety of genres and technologies. Website includes a custom-coded blog.</div>
            </div>

        </a>

        <a class='work-section odd clearfix' href="http://www.github.com/khananaphone">

            <div class='col-md-3 col-sm-4 image' style='background-image: url("/img/githubimg.png")'></div>

            <div class='col-md-9 col-sm-8'>
                <div class='title'>My Github Account</div>
                <div class='text'>A variety of projects, mostly just personal ones like games or websites. Spans a wide variety of genres and technologies. The documentation is lacking since, again, they're mostly just solo projects or learning experiences, but feel free to take a look.</div>
            </div>

        </a>

    </div>

</div>
