<div id='mywork'>

    <div class='subtitle'>
        MY WORK
    </div>

    <div class='top container'>
        <div class='title-block'>SKILLS & SERVICES</div>

        <div class='section col-xs-12 col-md-4'>
            <div class='name'>Website Developer/Designer</div>
            <p>
                Want a personal website like this one? Or maybe something a bit fancier for your small business? Whether you have a design in mind, a template you've found, or you just want me to "wing it", I guarantee you will recieve a professional product that looks good on every browser (mobile included).
            </p>
            <div class='icons'>
                <img src='/img/html5.png' title='HTML 5'/>
                <img src='/img/css3.png' title='CSS 3'/>
                <img src='/img/js.png'  title='Javascript'/>
            </div>
        </div>

        <div class='section col-xs-12 col-md-4'>
            <div class='name'>Web & Mobile Application Developer</div>
            <p>
                Need user accounts? Database storage? Animations? Interactivity? Mobile app versions? If you need a launching point for your more complicated ideas, or need help starting off your small business, you've come to the right place.
            </p>
            <div class='icons'>
                <img src='/img/nodejs.png'  title='NodeJS'/>
                <img src='/img/cordova.png'  title='Apache Cordova'/>
                <img src='/img/angular.png'  title='AngularJS'/>
            </div>
        </div>

        <div class='section col-xs-12 col-md-4'>
            <div class='name'>Software Developer</div>
            <p>
                I'm not just a web developer. Up until recently, most of my programming career has been centered on native applications using tried-and-true languages like C and Java. My strongest area of expertise would be in the .NET environment making a variety of Windows applications.
            </p>

            <div class='icons'>
                <img src='/img/visualstudio.png'  title='Visual Studio'/>
                <img src='/img/csharp.png'  title='C#'/>
                <img src='/img/dotnet.png'  title='Microsoft .NET'/>
            </div>
        </div>

    </div>

    <div class='container'>
        <div class='title-block projects-block'>MY PROJECTS</div>

        <div class='work-section odd clearfix'>

            <div class='col-lg-4 col-md-7 col-sm-6 image' style='background-image: url("/img/cardboard.png")'></div>

            <div class='col-lg-8 col-md-5 col-sm-6'>
                <div class='title'>IGRC Website</div>
                <div class='text'>sadasdasdasdasdasdd asd asdasd asd adas d</div>
            </div>

        </div>

        <div class='work-section odd clearfix' onclick='location.href="http://www.github.com/KHANanaphone"'>

            <div class='col-lg-8 col-md-5 col-sm-6'>
                <div class='title'>My Github</div>
                <div class='text'>sadasdasdasdasdasdd asd asdasd asd adas d</div>
            </div>

            <div class='col-lg-4 col-md-7 col-sm-6 image' style='background-image: url("/img/github_logo.jpg")'></div>

        </div>

    </div>

</div>
