#about .subtitle {
  width: 100%;
  height: 150px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  background-color: #3C3B3E;
  padding-top: 53px; }
#about .timeline {
  background-color: #152038;
  background-image: url("/img/cardboard.png"); }
  #about .timeline i {
    padding: 0 1em; }
  #about .timeline h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    font-size: 2em;
    color: white; }
  #about .timeline .timeline-body {
    position: relative;
    margin-top: 30px;
    padding-bottom: 50px; }
    #about .timeline .timeline-body .axis {
      margin-left: 50%;
      border-left: 2px solid white; }
    #about .timeline .timeline-body .tick {
      position: absolute; }
      #about .timeline .timeline-body .tick.minor {
        width: 4%;
        left: 48%;
        border-top: 2px solid white; }
      #about .timeline .timeline-body .tick.major {
        z-index: 10;
        margin-top: -15px;
        width: 10%;
        left: 45%;
        border: 5px solid #B0B0FF;
        text-align: center;
        color: #3939C5;
        background-color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 1.2em;
        font-weight: bold; }
    #about .timeline .timeline-body .line {
      position: absolute;
      border-top: 5px solid #B0B0FF;
      width: 20%; }
      #about .timeline .timeline-body .line.left {
        left: 30%; }
      #about .timeline .timeline-body .line.right {
        right: 30%; }
    #about .timeline .timeline-body .dot {
      position: absolute;
      border: 5px solid #B0B0FF;
      background-color: white;
      z-index: 8;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      left: calc(50% - 8px);
      margin-top: -6px; }
    #about .timeline .timeline-body .section {
      position: absolute;
      width: 40%;
      background-color: white;
      border: 5px solid #B0B0FF;
      padding: 0.5em 1em; }
      #about .timeline .timeline-body .section.left {
        left: 0%; }
        #about .timeline .timeline-body .section.left .line {
          right: -26%; }
        #about .timeline .timeline-body .section.left .dot {
          right: -28%; }
      #about .timeline .timeline-body .section.right {
        right: 0%; }
        #about .timeline .timeline-body .section.right .line {
          left: -26%; }
        #about .timeline .timeline-body .section.right .dot {
          left: -28%; }
      #about .timeline .timeline-body .section .date {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #888;
        font-size: 0.9em; }
      #about .timeline .timeline-body .section .employer {
        font-family: 'Raleway', sans-serif;
        font-size: 1.2em;
        font-weight: 600; }
      #about .timeline .timeline-body .section .position {
        font-family: 'Raleway', sans-serif;
        font-size: 1.1em;
        font-weight: 400;
        font-style: italic;
        margin-top: 10px; }
      #about .timeline .timeline-body .section .text {
        margin-top: 20px; }
      #about .timeline .timeline-body .section .skills {
        margin-top: 20px; }
#about .title-block {
  font-family: 'Montserrat', sans-serif;
  margin: 31px auto;
  text-align: center;
  background-color: #FF4C4C;
  color: white;
  border-color: 2px solid red;
  border: 4px solid #FFC7C7;
  font-size: 2em;
  padding: 0.25em; }
#about .top {
  margin-bottom: 50px; }
  #about .top .title-block {
    width: 185px; }
  #about .top .name {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px; }
  #about .top .icons {
    text-align: center; }
    #about .top .icons img {
      width: 20%; }
#about .bot .title-block {
  width: 250px; }
#about .top p, #about .bot p {
  font-family: 'Raleway', sans-serif; }
