.header {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #FFF; }
  .header .title {
    color: white;
    transition: color 0.3s ease;
    text-decoration: none;
    display: inline-flex; }
    .header .title .logo {
      height: 70px; }
      .header .title .logo svg {
        height: 100%; }
        .header .title .logo svg path {
          fill: white;
          stroke: black;
          transition: 0.3s ease;
          transition-property: fill, stroke; }
        .header .title .logo svg line {
          stroke: black;
          transition: stroke 0.3s ease; }
    .header .title .name {
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5em;
      font-weight: bold;
      padding-left: 1em;
      padding-top: 0.4em; }
  .header .title:hover {
    color: black; }
    .header .title:hover path {
      fill: black !important;
      stroke: white !important; }
    .header .title:hover line {
      stroke: white !important; }
    .header .title:hover .name {
      text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }
  .header .menu {
    position: absolute;
    top: 15px;
    right: 30px; }
    .header .menu .menu-item {
      color: white;
      font-size: 1.3em;
      display: inline-block;
      cursor: pointer;
      transition: background-color ease 0.2s, color ease 0.2s;
      padding-bottom: 0.2em;
      font-family: 'Exo', sans-serif;
      font-weight: 800;
      padding: 0.5em 1em;
      border: 2px solid transparent; }
      .header .menu .menu-item:hover {
        background-color: #538CCC; }
      .header .menu .menu-item.active {
        border-color: white; }

@media (max-width: 920px) {
  .header .menu {
    position: static;
    text-align: center;
    margin-top: 0; }
  .header .menu-item {
    font-size: 1em;
    text-align: center;
    margin-bottom: 0.2em; }
  .header .title {
    display: block;
    text-align: center; } }
