#mywork .projects-block {
  width: 300px; }
#mywork .work-section {
  display: block;
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-top: 30px;
  -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s ease; }
  #mywork .work-section.odd {
    border: 2px solid #AAA;
    color: #222; }
    #mywork .work-section.odd:hover {
      background-color: #9BD89B; }
  #mywork .work-section.even {
    background-color: #222;
    color: white; }
    #mywork .work-section.even:hover {
      background-color: #355835; }
  #mywork .work-section .image {
    padding: 0;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: center; }
  #mywork .work-section .title {
    text-align: center;
    font-size: 2em;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 0px; }
  #mywork .work-section .text {
    padding-bottom: 10px;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300; }
#mywork .top {
  margin-bottom: 50px; }
  #mywork .top .title-block {
    width: 340px; }
  #mywork .top p {
    font-family: 'Raleway', sans-serif; }
  #mywork .top .name {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px; }
  #mywork .top .icons {
    text-align: center; }
    #mywork .top .icons img {
      width: 20%; }
@media (max-width: 767px) {
  #mywork .work-section .image {
    height: 150px;
    margin: 10px auto;
    width: 50%;
    background-position-x: center; } }
