#mywork .work-section {
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-top: 30px;
  -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s ease; }
  #mywork .work-section.odd {
    border: 2px solid #AAA;
    color: #222; }
    #mywork .work-section.odd:hover {
      background-color: #9BD89B; }
  #mywork .work-section.even {
    background-color: #222;
    color: white; }
    #mywork .work-section.even:hover {
      background-color: #355835; }
  #mywork .work-section .image {
    padding: 0;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center; }
  #mywork .work-section .title {
    text-align: center;
    font-size: 2em;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: uppercase; }
  #mywork .work-section .text {
    margin-top: 35px;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300; }
