@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300,200);
@import url(https://fonts.googleapis.com/css?family=Exo+2:300,300italic,700,700italic);
@import url("header.css");
@import url("home.css");
@import url("footer.css");
@import url("projects.css");
@import url("mywork.css");
@import url("about.css");
@import url("contact.css");
html, body {
  margin: 0 auto; }

.splash {
  padding: 30px 0px 20px;
  width: 100%;
  background-color: #3E3C4A;
  background-image: url("../img/cardboard.png"); }

.primary-color {
  background-color: #242E50; }

.subtitle {
  width: 100%;
  height: 150px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  background-color: #3C3B3E;
  padding-top: 53px; }

.title-block {
  font-family: 'Montserrat', sans-serif;
  margin: 31px auto;
  text-align: center;
  background-color: #FF4C4C;
  color: white;
  border-color: 2px solid red;
  border: 4px solid #FFC7C7;
  font-size: 2em;
  padding: 0.25em; }
