<html ng-app="websiteApp">

<head>

  <!-- bower:css -->
  <!-- endbower -->

  <!-- inject:css -->
  <!-- endinject -->

  <title>Adam Ferguson</title>

  <link rel="icon"
      type="image/png"
      href="images/favicon.png" />
</head>

<body>

<div ng-controller="websiteCtrl">

    <% include images/logo.svg %>

</div>

</body>

  <!-- bower:js -->
  <script src="components/angular/angular.js"></script>
  <!-- endbower -->

  <!-- inject:js -->
  <!-- endinject -->
</html>
